/*
do we keep this static with, or should it be able to change dynamically also. all I think it
would require would be 2 additional css sheets with different colors and some event handle switch style
but idk if thats even true, or worth doing

keep it trivial for now
*/
.root{
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: rgba(0, 0, 0, 0.73);
    -fx-border-color: #ffffff;
}

.text-field{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.73);
    -fx-border-color: #ffffff;
}

.text-area{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.73);
    -fx-border-color: #ffffff;
}

.button{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-color: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.09);
}