.root{
	-fx-font-weight: bold;
	 -fx-background-color: linear-gradient(to bottom right, #2e8b57,  #008000);
     -fx-background-size: cover;
     -fx-background-position: center;
     -fx-background-repeat: no-repeat;
}

.button{
    -fx-font-weight:bold;
    -fx-background-color:#dc143c;
    -fx-font-size: 24px;
    -fx-text-fill: #ffffe0;
}

.text-field{
     -fx-pref-width: 300;
     -fx-pref-height: 40;
     -fx-font-size: 18px;
     -fx-background-radius: 5;
     -fx-background-color: #808080

}