.root{
	-fx-font-weight: bold;
	 -fx-background-color: linear-gradient(to bottom right, #2e8b57,  #008000);
     -fx-background-size: cover;
     -fx-background-position: center;
     -fx-background-repeat: no-repeat;
}

.hollow-text {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: transparent;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.button{
    -fx-font-weight:bold;
    -fx-background-color:#dc143c;
    -fx-font-size: 24px;
    -fx-text-fill: #ffffe0;
}

.text-field{
     -fx-pref-width: 300;
     -fx-pref-height: 40;
     -fx-font-size: 18px;
     -fx-background-radius: 5;
     -fx-background-color: #808080

}

.transparent-label {
      -fx-background-color: transparent;
      -fx-font-family: Lucida Console;
}

.combo-box {
    -fx-background-color: lightgrey;
    -fx-font-size: 16px;
    -fx-border-color: black;
    -fx-border-width: 2;
}